body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#0F0F0F;
    /*(9290C3)*/
    height: 98vh;
    transition: backgound-color 1s ease
}
#big{
    width: 350px;
    height: 350px;
    border-radius: 64px;
    background: #0F0F0F;
    box-shadow:  19px 19px 35px #0b0b0b,
             -19px -19px 35px #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    transition: background-color 1s ease, box-shadow 1s ease

    
    

}
#mini{
    background: linear-gradient(145deg, #0e0e0e, #101010);
    width: 350px;
    height: 210px;
    position: fixed;
    z-index: 1;
    border-radius:  0px  0px 64px 64px;
    top: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
#clockH3{
    transition: color 1s ease-in;
   
}
#clockp{
    width: 150px;
    border-radius: 11px;
    background: #f0f0f0;
    box-shadow:  5px 5px 10px #656565,
             -5px -5px 10px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#divimg{
    width: 100%;
    height: 350px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    transition: rotate 1s ease-in;
    
    
}

#divimg img{
    max-width: 100%;
    max-height: 100%;



}
@font-face{
    font-family:'digital-clock-font';
    src: url('put_the_location_to_your_font.ttf or .otf');
   }
#nav{
    position: fixed;
    width: 150px;
    height: 250px;
    font-family: 'Orbitron', sans-serif;
    top: 5px;
    left: 10px;
    opacity: 0%;
    background-color: #e0e0e0;
    padding: 4px;
    border-radius: 24px;

}
#nav:hover{
    opacity: 90%;
    transition: opacity 1s ease;

}
input[type="radio"]{
    appearance: none;
    margin: 10px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #6e6e6e,
                 -5px -5px 10px #ffffff;
    
}
input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent; 
 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 0;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #6e6e6e,
                 -5px -5px 10px #ffffff;
}

input[type="radio"]:checked::before {
    border-radius: 50%;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #6e6e6e,
                inset -5px -5px 10px #ffffff;
    border: none;
}

